#wrapper, .printMap{
    display: none!important;
}
.fancybox-overlay-fixed{
    width: 100%!important;
    position: static;
    left: 0;
    top: 0;
}
.fancybox-wrap{
    width: 100%!important;
    position: static!important;
    left: 0!important;
    top: 0!important;
}
.fancybox-skin {
    width: 100%!important;
    border: none!important;
    padding: 0!important;
}
#contacts .formArea {
    display: none;
}
#contacts .mapArea {
    width: 100%!important;
    padding: 0;
    overflow: hidden;
    float: none;
    border: none;
    margin: 0;
}
#contacts .map {
    width: 100%!important;
}
#contacts .mapArea iframe {
    display: block;
    width: 100%!important;
    height: 400px!important;
}
